.flight-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .search-form {
    display: flex;
    flex-direction: row; /* Aligns children elements horizontally */
    flex-wrap: wrap; /* Allows elements to wrap onto the next line */
    justify-content: center; /* Centers items on the main-axis */
    align-items: flex-start; /* Aligns items to the start of the cross-axis */
    gap: 20px; /* Adds space between elements */
    padding: 20px;
    max-width: 1200px; /* Maximum width of the form */
    margin: auto; /* Centers the form */
  }
    
  .field-container {
    display: flex;
    flex-direction: column; /* Stacks label on top of the input */
    align-items: center; /* Centers items on the cross-axis */
    width: auto; /* Allows the container to only be as wide as its content */
  }
    
  .field-container label {
    font-weight: bold;
  }
  
  .search-form input[type="text"],
  .search-form input[type="date"],
  .search-form input[type="time"],
  .search-form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: auto;
    box-sizing: border-box; /* Include padding and border in the element's width */
  }
  
  .search-form input[type="text"] {
    width: 300px;
  }
  
  .search-button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .search-form button {

    margin: 8px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    max-width: 200px; /* Sets a maximum width for the button */
  }
  
  .search-form button:hover {
    background-color: #0056b3;
  }
  
  .flights-list-container th{
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

/* Mouse hovering on flight search results*/
.flights-list-container tr:hover {
    background-color: #bbdfff; 
  }
  

  
  @media (max-width: 768px) {
    .search-form {
      flex-direction: column;
      align-items: center;
    }

    .field-container {
        width: 100%; /* Full width to accommodate smaller screens */
      }    
  
    .search-form input[type="text"] {
      max-width: none; /* Allow the search input to take full width on smaller screens */
    }
  
    .search-button-wrapper {
      width: auto;
    }
  
    .search-form button {
      width: 100%; /* Allow the button to take full width on smaller screens */
    }
  }
  