.custom-nav {
  background: linear-gradient(180deg, #226b9b, #6dd5fa);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #a7a7a7 1px;
}

.logo-container {
  flex: 1;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  color: #f5f4f4;
  text-decoration: none;
  font-size: 1rem;
}

.nav-link:hover {
  color: #3d3de7;
}


.logo-image-main {
  width: 160px; 
  height: auto; 
  margin-right: 10px;
}

