.modal-overlay {
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    display: flex;
    align-items: center; /* Align vertically */
    justify-content: center; /* Align horizontally */
    z-index: 1000; /* Sit on top */
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Maximum width of the modal box */
    z-index: 1001; /* Sit on top */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the modal content */
  }
  
  /* Style for the inputs */
.modal-content input[type="text"] {
    width: 100%; /* Set width to full to use up all the space */
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px; 
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Style for the buttons */
.modal-button {
    width: auto; /* auto will make it depend on the content */
    padding: 10px 20px;
    margin: 5px; /* Equal margin for spacing */
    flex-grow: 1; /* Buttons will grow equally to fill the space */
  }
  
  /* Button wrapper to center buttons */
.button-wrapper {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 10px; /* Spacing between buttons */
    margin-top: 20px; /* Spacing above the buttons */
  }
  
  .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 1.5em; /* Makes the 'X' larger */
    color: #aaa;
  }
  
  .close-button:hover,
.close-button:focus {
  color: black;
  cursor: pointer;
}

  
  .modal-button.check-in {
    background-color: #007bff;
    color: white;
    margin-right: 0;
  }
  
  .modal-button.check-in:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .modal-button.cancel {
    background-color: #dc3545;
    color: white;
    margin-right: 0;
  }
  
  .modal-button.cancel:hover {
    background-color: #bd2130; /* Darker red on hover */
  }
  