.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.form-container {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Child elements are the width of this container */
}

.form-label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

.form-control {
    display: block;
    width: calc(100% - 1.5rem); /* Reduces the width by the total left and right padding */
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%; /* Full width */
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.form-container {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form-label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

.form-control, .btn-primary {
    box-sizing: border-box; /* padding is included in the total width and height */
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem; /* Space between inputs and button */
    border-radius: .25rem;
}